<%- include("./partials/head.ejs")%>
<body>
  <header class="header">
    <div class="headerMain">
      <div class="headerLogo">
        <a href="/home"><img src="\images\logo.png" alt="FedeFlix" width="65%"></a>
      </div>
      <div class="headerSearch">
        <form class="formSearch" action="">
          <input id="search" type="text" style="width: 52%;" class="input-search" placeholder="Buscar películas...">
        </form>
        <script defer src="/search.js"></script>
      </div>
      <div class="headerNavLogin">
        <ul type="none">
          <li>
            <% if(usuarioLogeado != null) { %>
              <a href="/perfil/<%=usuarioLogeado.id%>">Hola <%=usuarioLogeado.nombre%></a>
            <% } else { %>
              <a href="/login">ACCEDER <i class="fa-solid fa-user"></i></a>
            <% } %>
          </li>
        </ul>
        <% if(usuarioLogeado !=null && usuarioLogeado.admin == true){%>
          <li type="none" style="margin-left: 5%;">
              <a href="/admin">Panel de administrador</a>
          </li>
        <%}%>
      </div>
    </div>
    <nav class="headerNav">
      <div class="headerNavItems">
        <ul type="none" style="border-top: 1px solid gray; margin-bottom: 0px;">
          <li>
            <a href="/home">omdb API Pelis</a>
          </li>
          <li>
            <a href="/nuestrasPelis">Nuestras Pelis</a>
          </li>
          <li>
            <a href="/aboutUs">Nosotros</a>
          </li>
            <li>
          <a href="/contact">Contacto</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <main>
    <section class="sectionAboutUs">
      <div class="contenido"  style="width: 70%;">
        <div class="titulos">
          <h1>FedeFlix</h1>
        </div>
        <div class="contenido" style=" background-color: rgb(224, 224, 224); border-radius: 10px; border: 20px rgb(224, 224, 224) solid;">
          <p>Es un espacio donde podras ver los detalles de tus peliculas favoritas, obteniendo dichos detalles desde nuestra base de datos y de la api externa OMDB.</p>
        </div>
      </div>
      <div class="contenido">
        <img src="/images/lechuga.jpg" alt="" style="border-radius: 10px; width: 100%;" >
      </div>
    </section>

    <section class="store">
      <div class="pelicula-grid">
        <%buscarPeliculas.forEach((pelicula) => { %>
          <a href="/nuestrasPelis/<%=pelicula.id%>">
            <div class="pelicula">
              <%if(pelicula.img.startsWith("http")){%>
                <img src="<%=pelicula.img%>" alt="<%=pelicula.nombre%>">
              <%}else{%>
                <img src="\images\peliculas\<%=pelicula.img%>" alt="<%=pelicula.nombre%>">
              <%}%>
              <h3><%= pelicula.nombre %></h3>
            </div>
          </a>
        <%});%>
      </div>
    </section>
  </main>
<%- include("./partials/footer.ejs")%>
</body>