<%- include("./partials/head.ejs")%>
<body>
    <div class="formulario">
    
        <h1 style="margin-bottom: 15px;">Todos los productos</h1>
             
        <ul type="none">
            <% for(let i = 0; i < allProducts.length; i++) {%>
                <li>

                        <div style="margin: 10px; text-align: center; display: flex; flex-direction: row;">
                            <input style="width: 80%;" type="text" value="<%= allProducts[i].id%>     <%= allProducts[i].nombre%>" readonly>
                            <a class="buttonEditar" style="width: auto; padding: 8px; margin-left: 10px;" href="/editProduct/<%=allProducts[i].id%>">Editar</a>
                        
                            <div>
                                <form action="/deleteProduct/<%=allProducts[i].id%>?_method=DELETE" method="POST">
                                    <button class="buttonEditar" style="width: auto;background-color: rgb(122, 7, 7); margin-left: 10px;" type="submit">Eliminar</button>
                                </form>
                            </div>
                        </div>
                        

                </li>
            <%}%>
        </ul>


        
        <p style="margin-top: 15px; margin-bottom: 15px;"><a class="link" href="/adminProducts">Volver atras</a></p>

    </div>
    <%- include("./partials/footer.ejs")%>
</body>
</html>