<%- include("./partials/head.ejs")%>
<body>
    <form class="formulario" action="/productEdit?_method=PUT" method="POST">
    
        <h1>Modificar producto</h1>
    
         <div class="contenedor">
            <div class="input-contenedor">
                <div class="iconAdmin">
                <i class="fa-solid fa-pencil"></i>
                 <input type="text" name="nombre" id="nombre" value="<%= productEdit.nombre%>">
                </div>
            </div>

            <div class="input-contenedor">
                <div class="iconAdmin">
                <i class="fa-solid fa-file-signature"></i>
                <input type="text" name="descripcion" id="descripcion" value="<%= productEdit.descripcion%>">
                </div>
           </div>

           <div class="input-contenedor">
                <div class="iconAdmin">
                    <i class="fa-solid fa-dollar-sign"></i>
                    <input type="number" name="precio" id="precio" min="0" value="<%= productEdit.precio%>">
                </div>
            </div>

            <div class="input-contenedor">
                <div class="iconAdmin">
                     <i class="fa-solid fa-image"></i>
                     <input type="file" placeholder="Imagen">
                </div>
            </div>

            <div class="input-contenedor">
                <div class="iconAdmin">
                     <p>Producto en descuento</p>
                     <input type="checkbox" name="descuento" id="descuento" value="<%= productEdit.descuento%>">
                </div>
                
            </div>
             
             <input type="submit" value="Guardar cambios" class="button">
             <p style="margin-top: 15px;"><a class="link" href="/adminModiProducts">Cancelar</a></p>
         </div>

    </form>
    <%- include("./partials/footer.ejs")%>
</body>
</html>