<%- include("./partials/head.ejs")%>

<body>

    <header class="header">
        <div style="display: flex; flex-direction: row; justify-content: space-evenly;">
            <a href="/home">
                <img src="\images\logo.png" alt="sayi" width="70%">
            </a>
            <a href="/admin">
                <h2 style="margin-top: 17px;">PANEL DE ADMINISTRADOR</h2>
            </a>
        </div>
    </header>


    <div class="formulario" style="text-align: center;">
   
        <ul type="none">
                    
                    <form action="/editProduct?_method=PUT" method="POST" enctype="multipart/form-data">
                        <h1 style="margin-bottom: 15px;">Modificar producto</h1>

                    <li>
                        <div class="input-contenedor">
                            <div class="iconAdmin">
                            <i class="fa-solid fa-pencil"></i>
                             <input type="text" placeholder="id" name="id" id="id" value="<%= product.id%>" readonly>
                            </div>
                        </div>

                        <div class="input-contenedor">
                            <div class="iconAdmin">
                            <i class="fa-solid fa-pencil"></i>
                             <input type="text" placeholder="Nombre" name="nombre" id="nombre" value="<%= product.nombre%>" required>
                            </div>
                        </div>

                        <div class="input-contenedor">
                            <div class="iconAdmin">
                            <i class="fa-solid fa-file-signature"></i>
                            <input type="text" placeholder="Descripcion" name="descripcion" id="descripcion" value="<%= product.descripcion%>" required>
                            </div>
                       </div>
            
                       <div class="input-contenedor">
                            <div class="iconAdmin">
                                <i class="fa-solid fa-dollar-sign"></i>
                                <input style="margin-left: 5px;" type="number" min="0" placeholder="Precio" name="precio" id="precio" value="<%= product.precio%>" required>
                            </div>
                        </div>
            
                        <div class="input-contenedor">
                            <div class="iconAdmin">
                                <i class="fa-solid fa-arrow-up-wide-short"></i>
                                <input type="number" min="0" placeholder="Cantidad de stock" name="stock" id="stock" value="<%= product.stock%>" required>
                            </div>
                        </div>


                        <div class="input-contenedor">
                            <div class="iconAdmin" style="display: flex; justify-content: flex-start; margin-left: 3%; height: 40px;">
                                 
                                <%if(product.descuento == 1){%>
                                    <input placeholder="producto" type="checkbox" name="descuento1" id="descuento1" style="width: 20px; margin-right: 2.5%;" checked>
                                <%}else{%>
                                    <input placeholder="producto" type="checkbox" name="descuento2" id="descuento2" style="width: 20px; margin-right: 2.5%;">
                                <%}%>
                                 <p style="margin-top: 8px; font-size: 20px; color: rgb(132, 132, 132);">Producto en descuento</p>
                            </div>
                        </div>

                        <div class="input-contenedor">
                            <div class="iconAdmin">
                                <i class="fa-solid fa-bars"></i>
                                <input type="text" placeholder="Categoria" name="categoria" id="categoria" value="<%= product.idcategoria%>">
                            </div>
                        </div>
            
            
                        <div class="input-contenedor">
                            <div class="iconAdmin">
                                 <img src="\images\products\<%=product.img%>" width="405px" name="img" height="300px" id="img1">
                            </div>
                        </div>

                        <div class="input-contenedor">
                            <div class="iconAdmin">
                                 <i class="fa-solid fa-image"></i>
                              
                                 <input type="file" placeholder="Imagen" name="imagen" id="img2" value="\images\products\<%=product.img%>">
                            </div>
                        </div>

                    </li>
                    <div>
                            <button class="buttonEditar" style="width: 95%; margin-bottom: 15px;" type="submit">Guardar cambios</button>
                    </div>
                </form>


                    <div>
                        <form action="/deleteProduct/<%=product.id%>?_method=DELETE" method="POST">
                            <button class="buttonEditar" style="background-color: rgb(122, 7, 7); width: 95%;" type="submit">Eliminar</button>
                        </form>
                    </div>
        </ul>

        <p style="margin-top: 15px; margin-bottom: 15px;"><a class="link" href="/adminListarProducts">Volver atras</a></p>

    </div>
    <%- include("./partials/footer.ejs")%>
</body>
</html>