<!DOCTYPE html>
<html>
    <%- include("./partials/head.ejs")%>
<body>

    <header class="header">
        <div class="headerMain">
            <div class="headerLogoYBuscador">
                <a href="/home">
                    <img src="\images\logo.png" alt="sayi" width="100%">
                </a>
                <div class="headerBuscador">
                    <form class="formSearch" action="">
                        <input id="search" type="text" class="input-search" placeholder="Buscar productos, marcas...">
                    </form>
                    <script defer src="/search.js"></script>
                 </div>
            </div>
            <div class="headerNavLogin">
              <ul type="none">
                <li>
                  <%if(usuarioLogeado != null) {%>
                    <a href="/perfil/<%=usuarioLogeado.id%>">Hola <%=usuarioLogeado.nombre%></a>
                  <%}else{%>
                    <a href="/login">ACCEDER
                      <i class="fa-solid fa-user"></i>
                    </a>
                    <%}%>
                </li>
               </ul>
               <%if(usuarioLogeado !=null && usuarioLogeado.admin == true){%>
                    <li type="none" style="margin-left: 5%;">
                    <a href="/admin" style="color: black;">Panel de administrador</a>
                    </li>
                <%}else{%>
               <li type="none" style="margin-left: 5%;">
                <a href="/home#carrito" style="color: black;">
                    CARRITO 
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
               </li>
               <%}%>
            </div>
        </div>
        <nav class="headerNav">
            <div class="headerNavItems">
                <ul type="none" style="border-top: 1px solid gray; margin-bottom: 0px;">
                    <li>
                        <a href="/home">Home</a>
                    </li>
                    <li>
                        <div class="dropdown">
                            <button class="dropbtn">Market</button>
                            <div class="dropdown-content">
                                <%let nuevo=[];%>
                                <%let bandera=false;%>
                                <%for(let i=0; i < productos.length; i++){%>
                                    <%for(let x=0; x < nuevo.length; x++){%>
                                        <%if(productos[i].idcategoria === nuevo[x]){%>
                                            <%bandera=true%>
                                        <%}else{%>
                                            <%bandera=false%>
                                        <%}%>
                                    <%}%>
                                 <%if(bandera==false){%>
                                        <%nuevo.push(productos[i].idcategoria)%>
                                 <%}%>
                                <%}%>
                                <%let ordenado=nuevo.sort()%>
                                <%for(let i=0; i < ordenado.length; i++){%>
                                    <a href="/market/<%=ordenado[i]%>"><%=ordenado[i]%></a>
                                <%}%>
                            </div>
                          </div>
                    </li>
                    <li>
                        <a href="/descuentos">Promociones</a>
                    </li>
                    <li>
                        <a href="/aboutUs">Nosotros</a>
                    </li>
                    <li style="margin-right: 0px;">
                      <a href="/contact">Contacto</a>
                  </li>
                </ul>
            </div>
        </nav>
    </header>

<main>
    <br><br>
    <div style="text-align: center;">
        <h3>PREGUNTAS FRECUENTES</h3>
        <p>Conoce las preguntas frecuentes de nuestros clientes.</p>
        <br>
    </div>
    <b style="height: 2px; background-color: rgb(196, 196, 196); display: block; margin-bottom: 10px;"></b>
        <button class="accordion">• Puedo comprar productos sueltos?</button>
        <div class="panel">
            <p>Sí, podes comprar productos sueltos en la sección MARKET o comprar nuestros Boxes</p>
        </div>

        <button class="accordion">• Puede recibir otra persona mi pedido?</button>
        <div class="panel">
            <p>Si, por favor aclaralo cuando hagas tu pedido o escribinos por WhatsApp al +549 11-3191-0802 así podemos entregarlo correctamente!</p>
        </div>

        <button class="accordion">• En que horario se realizan los envios?</button>
        <div class="panel">
            <p>Los horarios de envíos son:

                Caba: Lunes 13 a 16 hrs -
                
                martes 10:30 a 16 hrs -
                
                jueves 10:30 a 16 hrs -
                
                viernes 13 a 17 hrs</p>
        </div>

        <button class="accordion">• Que dias realizan envios?</button>
        <div class="panel">
            <p>Los envíos  en CABA los realizamos los días Lunes, martes, jueves y viernes. 

                y zona norte los días martes y jueves.
                
                Los envíos es dentro de gran buenos aires demoran aproximadamente 48 hrs.
                
                A todas las provincias aproximadamente 7 días hábiles. </p>
        </div>

        <button class="accordion">• Que pasa si no estoy para recibir el pedido en la direccion acordada?</button>
        <div class="panel">
            <p>El pedido vuelve a nuestro depósito y coordinamos otra entrega con el costo correspondiente.</p>
        </div>

        <b style="height: 2px; background-color: rgb(196, 196, 196); display: block; margin-bottom: 10px;"></b>
        <br>
</main>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>

<%- include("./partials/footer.ejs")%>

</body>
</html>