<%- include("./partials/head.ejs")%>
<body>
  <header class="header">
    <div class="headerMain">
      <div class="headerLogo">
        <a href="/home"><img src="\images\logo.png" alt="FedeFlix" width="65%"></a>
      </div>
      <div class="headerSearch">
        <form class="formSearch" action="">
          <input id="search" type="text" style="width: 52%;" class="input-search" placeholder="Buscar películas...">
        </form>
        <script defer src="/search.js"></script>
      </div>
      <div class="headerNavLogin">
        <ul type="none">
          <li>
            <% if(usuarioLogeado != null) { %>
              <a href="/perfil/<%=usuarioLogeado.id%>">Hola <%=usuarioLogeado.nombre%></a>
            <% } else { %>
              <a href="/login">ACCEDER <i class="fa-solid fa-user"></i></a>
            <% } %>
          </li>
        </ul>
        <% if(usuarioLogeado !=null && usuarioLogeado.admin == true){%>
          <li type="none" style="margin-left: 5%;">
              <a href="/admin">Panel de administrador</a>
          </li>
        <%}%>
      </div>
    </div>
    <nav class="headerNav">
      <div class="headerNavItems">
        <ul type="none" style="border-top: 1px solid gray; margin-bottom: 0px;">
          <li>
            <a href="/home">omdb API Pelis</a>
          </li>
          <li>
            <a href="/nuestrasPelis">Nuestras Pelis</a>
          </li>
          <li>
            <a href="/aboutUs">Nosotros</a>
          </li>
            <li>
          <a href="/contact">Contacto</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <main>
    <div class="contenedorProduct">
      <div class="contenedorProduct2">
          <div class="imagen">
            <% if (buscarPelicula.img.startsWith("http")) { %>
            <img src="<%= buscarPelicula.img %>" alt="imagen">
            <% } else { %>
            <img src="\images\peliculas\<%= buscarPelicula.img %>" alt="imagen">
            <% } %>
          </div>
        <div class="contenidoProduct">
          <div>
            <h2><%= buscarPelicula.nombre %></h2>
          </div>
          <div>
            <h5>Genero: <span><%= buscarPelicula.genero %></span></h5>
          </div>
          <div>
            <h5>Duracion: <span><%= buscarPelicula.duracion %> min</span></h5>
          </div>
          <div>
            <h5>Rating: <span><%= buscarPelicula.rating %> ★</span></h5>
          </div>
          <div>
            <h5>Descripcion: <span><%=buscarPelicula.descripcion%></span></h5>
          </div>
        </div>
      </div>
    </div>
  </main>
<%- include("./partials/footer.ejs")%>
</body>
