<%- include("./partials/head.ejs")%>
<a href="https://wa.me/1169790502?text=Me%20gustaría%20saber%20el%20precio%20del%20producto" class="whatsapp" target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a>
<body>

    <header class="header">
        <div class="headerMain">
            <div class="headerLogoYBuscador">
                <a href="/home">
                    <img src="\images\logo.png" alt="sayi" width="100%">
                </a>
                <div class="headerBuscador">
                    <form action="">
                        <input type="search" name="busqueda" placeholder="Buscar productos, marcas..." class="buscador">
                        <div class="botonBuscar">
                            <i class="fas fa-search header-brand-search-icon"></i>
                        </div>
                    </form>
                </div>
            </div>
            <div class="headerNavLogin">
                <ul type="none">
                  <li>
                      <a href="/login">ACCEDER 
                        <i class="fa-solid fa-user"></i>
                      </a>
                  </li>
                 </ul>
                 <li type="none" style="margin-left: 5%;">
                  <a href="javascript:alert('En construcción');" style="color: black;">
                      CARRITO 
                      <i class="fa-solid fa-cart-shopping"></i>
                  </a>
                 </li>
              </div>
        </div>
        <nav class="headerNav">
            <div class="headerNavItems">
                <ul type="none">
                    <li>
                        <a href="/home">HOME</a>
                    </li>
                    <li>
                        <a href="javascript:alert('En construcción');">PRODUCTOS</a>
                    </li>
                    <li>
                        <a href="/descuentos">DESCUENTOS</a>
                    </li>
                    <li>
                        <a href="/aboutUs">QUIENES SOMOS</a>
                    </li>
                    <li>
                      <a href="/contact">CONTACTO</a>
                  </li>
                </ul>
            </div>
        </nav>
    </header>

<body>
    <form class="formulario" style="text-align: center;" action="/edit?_method=PUT" method="POST">

        <h1 style="margin-bottom: 15px;">Mi perfil</h1>
             
        <ul type="none" style="text-align: center; text-align: center;">
                <li>
                            <div style="margin-bottom: 9px; align-items: center;">
                                <label>Id</label>
                                <input style="margin-left: 63px;" type="text" name="id" value="<%= perfil.id%>" readonly="true">
                            </div>

                            <div style="margin-bottom: 9px; align-items: center;">
                                <label>Nombre</label>
                                <input style="margin-left: 30px;" type="text" name="name" value="<%= perfil.name%>" required>
                            </div>

                            <div style="margin-bottom: 9px; align-items: center;">
                                <label>Apellido</label>
                                <input style="margin-left: 30px;" type="text" name="lastName" value="<%= perfil.lastName%>" required>
                            </div>

                            <div style="margin-bottom: 9px; align-items: center;">
                                <label>Email</label>
                                <input style="margin-left: 42px;" type="text" name="email" value="<%= perfil.email%>" required>
                            </div>

                            <div style="margin-bottom: 9px; align-items: center;">
                                <label>Contraseña</label>
                                <input style="margin-left: 8px;" type="password" name="password" value="<%= perfil.password%>" required>
                            </div>

                            <div style="display: flex; justify-content: space-between; text-align: right; margin-right: 5px;">
                                <div>
                                    <label for="" style="margin-left: 6px;">Imagen</label>
                                </div>
                                <img src="\images\users\<%= perfil.img%>" width="405px" height="300px">
                            </div>
                          
                </li>
        </ul>
        <button class="button" style="width: 95%; margin-bottom: 20px; margin-top: 20px;" type="submit">Guardar cambios</button>
    </form>

    <%- include("./partials/footer.ejs")%>
</body>
</html>